html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    min-height: 100%;
    max-width: 728px;
    margin: 0 auto;
    background-color: #FFF;
    font-family: 'El Messiri', sans-serif;
    color: #000;
}

body {
  background-image: url(../images/cocoa_beans_med.jpg);
  background-repeat: no-repeat;
}

header {
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.3em;
    padding-left: 1em;
    padding-right: 1em;
}

p {
    font-size: 1.3em;
    line-height: 1.4em;
}

.caption {
    font-size: .9em;
    line-height: 1em;
}

hr {
    width: 85%;
}

.quizCard {
    height: 175px;
    width: 460px;
    padding: 1em;
    margin: 1em 5em;
    position: relative;
    -webkit-perspective: 900;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }

.cardFront ul {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 1em;
    font-size: 1.2em;
    line-height: 1.2em;
}

.quizCard .cardFront {
    background-color: #feebd7;
    line-height: 1.1em;
}

.quizCard .cardFront:hover {
    transform: rotateY(180deg);
  }

.quizCard .cardBack {
    background-color: #fff3e5;
    line-height: 1.5em;
}

.flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);

  -webkit-backface-visibility: visible;
  -moz-backface-visibility:    visible;
  -ms-backface-visibility:     visible;
}

.funFact {
    padding: 1em;
    margin: 2em;
    background-color: #5c2f00;
    color: #fff;
    height: 75px;
    width: 600px;
    position: relative;
    -webkit-perspective: 800;
}

.nextButton {

}
