





.getAns {
    padding: .1em;
    margin-top: 2em;
    margin-right: auto;
    margin-left: 8em;
    position: relative;
    border-width: 5px;
    border-color: #573100;
}

.nextQuestion {
    height: 26px;
    width: 140px;
    padding: .5em;
    margin: .5em auto;
    background-color: #573100;
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
}

#final {
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: 600;
}

.tryAgain {
    height: 20px;
    width: 110px;
    border-width: medium;
    padding: 1em;
    margin: auto;
    background-color: #fffaf0;
    color: black;
}

.score {
    height: 75px;
    width: 400px;
    padding: 1em;
    margin: auto;
    background-color: #573100;
    color: #fff;
}
